<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710318144912-ndbphcp5aaanpf4ggefm576m015uqf7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710318144912-ndbphcp5aaanpf4ggefm576m015uqf7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAbnLuF-G0Z65_SRL1x6dad_adCYRZ8ZPg</string>
	<key>GCM_SENDER_ID</key>
	<string>710318144912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>m-bca-d1efe</string>
	<key>STORAGE_BUCKET</key>
	<string>m-bca-d1efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710318144912:ios:b73041c2bc0b601a164715</string>
</dict>
</plist>